.*.swp

.project
.settings/
.idea/

.bem/cache
.bem/snapshots
.enb/tmp
node_modules
libs

*.pages/*/*
!*.pages/.bem/*
!*.pages/*/blocks
!*.pages/*/*.bemjson.js
!*.pages/*/*.html
!*.pages/*/_*.css
!*.pages/*/_*.js
*.pages/*/_*.bemjson.js
*.pages/*/_*.bemhtml.js

/coverage
/coverage.json
/gemini-report/

/*.docs
/*.examples
/*.specs
/*.tests
/*.sets
/*.tmpl-specs
